<div class="fit-popup-backgroung">
  <div class="popup" *ngIf="isOnline && !isChecked">
    <p>
      Для продовження роботи потрібно, вимкнути Wi-Fi та Інтернет. Це
      забезпечить збереження ваших даних і не дозволить їх витоку в мережу
    </p>

    <button
      type="button"
      class="check-ethernet-btn"
      (click)="checkEthernetStatus()"
    >
      Перевірити підключення
    </button>
  </div>

  <div class="popup success" *ngIf="!isOnlineValue && isChecked">
    <img src="../../assets/images/success.svg" alt="no ethernet" />
    <h6>Підключення відсутнє</h6>
    <p>Можете продовжевати роботу</p>

    <button type="button" class="check-ethernet-btn" (click)="isOffline()">
      Далі
    </button>
  </div>

  <div class="popup reject" *ngIf="isOnlineValue && isChecked">
    <img src="../../assets/images/reject.svg" alt="yes ethernet" />
    <h6>Виявлено підключення до інтернету</h6>
    <p>Вимкніть, будь ласка, інтернет</p>

    <button
      type="button"
      class="check-ethernet-btn"
      (click)="checkEthernetStatus()"
    >
      Далі
    </button>
  </div>
</div>
