.fit-popup-backgroung {
  background: rgba(217, 228, 241, 0.1);
  backdrop-filter: blur(2px);
  z-index: 100;

  .popup {
    position: absolute;
    bottom: 60px;
    left: 45%;
    height: 153px;
    left: 16px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 110;
    padding: 16px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }

    .check-ethernet-btn {
      align-items: center;
      padding: 12px 20px;
      width: 234px;
      height: 41px;
      background: #5375ED;
      border: 0.5px solid #C7D5E9;
      border-radius: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #D9E4F1;
      cursor: pointer;
    }
  }
}
