.fit-popup-backgroung {
  background: rgba(217, 228, 241, 0.1);
  backdrop-filter: blur(2px);
  z-index: 100;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  .popup {
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 360px;
    width: 100%;
    margin-left: -10px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 16px 28px;
    z-index: 120;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .head-continue-popup {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .continue {
        cursor: pointer;
      }
    }
  }
}

.image-list {
  display: flex;
  width: 100px;
  height: 100px;

  img {
    width: 100px;
    height: 100px;
    margin: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
}

.selected {
  position: relative;
}

.selected::after {
  content: url('../../assets/images/check.png');
  position: absolute;
  top: 50%;
  left: calc(50% - 13.5px);
  width: 27px;
  height: 18px;
  z-index: 200;
}

.selected::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100px;
  height: 100px;
  z-index: 199;
  backdrop-filter: blur(1px);
  border-radius: 8px;
}
